<div style="display: flex; justify-content: space-around;">
  <h1 class="flex-1">yerrr {{appService.whoAmI}}</h1>
  <h1 class="flex-1">its {{(appService.currentPlayer$ | async).name}} turn</h1>

    <div *ngIf="(appService.allowChoosePlayer$ | async) && (appService.currentPlayer$ | async).name == appService.whoAmI" style="display: flex; flex-direction: column;">
      <a style="text-decoration: underline; color:blue; cursor: pointer;" *ngFor="let player of (appService.players$ | async)" (click)="choosePlayer(player)">{{player.name}}</a>
    </div>

    <mat-list *ngIf="!(appService.allowChoosePlayer$ | async)" role="list" class="flex-col players-list">
      <mat-list-item *ngFor="let player of (appService.players$ | async)" [ngClass]="{'selected': (appService.currentPlayer$ | async).name === player.name}">
        {{player.name}}
        <span style="margin-left: 1rem;" color="primary" *ngIf="(appService.currentPlayer$ | async).name === player.name"><--it's this mf turn</span>
        <!-- <div *ngIf="(appService.currentCard$| async)?.number == 7 && player.isGood"> -->
          <i class="fas fa-check-circle"></i>
        <!-- </div> -->
      </mat-list-item>
    </mat-list>

</div>

<div *ngIf="(appService.currentCard$| async) as card" style="display:flex; flex-direction: column; align-items: center;">
  <p>The card is {{card.number}}</p>
  <div *ngIf="(appService.currentPlayer$ | async).name == appService.whoAmI && appService.currentPlayerMsg">
    <p>{{appService.currentPlayerMsg}}</p>
  </div>
  <div *ngIf="(appService.everyoneMsg$ | async) as msg">
    <p>{{appService.everyoneMsg$ | async}}</p>
  </div>
  <div *ngIf="card.number == 7" style="display:flex; flex-direction: column; align-items: center;">
    <span *ngFor="let player of (appService.players$ | async)">{{player.name}} {{player.isGood}}</span>
  </div>
</div>

<div *ngIf="(appService.currentPlayer$ | async).name == appService.whoAmI">

  <div *ngIf="appService.canEndTurn">
    <button (click)="endTurn()">End Turn</button>
  </div>

  <div *ngIf="!(appService.currentCard$| async)">
    <button (click)="drawCard()">Draw a card</button>
  </div>
</div>
